services:
  - type: web
    name: fatigue-monitor
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    plan: free
    envVars:
      - key: PORT
        value: 8501
    healthCheckPath: /
    autoDeploy: true

